################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IMS/.vs
/IMS/IMS.Web/bin/Debug/net8.0
/IMS/IMS.Web/obj
/IMS/IMS.Web/Migrations
